body{
    margin: 40px;
}
.background-image1{
    height: 750px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;  
    background-image: url("./assets/backgrounds/h_img.jpg");
}
.logo{
    padding-top: 220px;
    text-align: center;
    
}
.logo img{
    height: 80px;
}
.welcome{
    padding-top: 30px;
    text-align: center;
    color: white;
    font-weight:300px;
}
.welcome>h2{
    font-size: 45px;
}
.welcome>p{
    font-size: 15px;
}
.mouse{
    padding-top: 160px;
    text-align: center;
   
}
.mouse img{
    height: 30px;
}
.about-Us{
    text-align: center;
    font-size: 15px;
}
.services{
    background-image: url("./assets/backgrounds/s_image.jpg");
   
}
.services{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;  
}
.services{
    text-align: center;
    color: white;
    padding-top: 70px;
}
.design-icon{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
   
}
.icon{
   text-align: center;

}
.icon img{
    height: 65px;
    padding-left: 20px;
    
}
.whatWeDo{
    padding-top: 40px;
    padding-left: 530px;
}
.portfolio-images1 img{
 height: 180px;
 width: 234px;
}
.portfolio-images2 img{
    height: 180px;
    width: 230px;
   }
.portfolio-images1{
    display: flex;
    margin-left: 170px;
    padding-bottom: 20px;
}
.portfolio-images2{
   margin-left: 170px;
   display: flex;
   padding-bottom: 20px;
}
.icon-8{
    background-image: url("./assets/portfolio/work8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 230px;
    margin-left: 1rem;
}
.icon8-bg-colors{
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8));
    padding-top: 10px; 
    padding-bottom: 5px;
}

.bailey{
    border: 3px solid white;
    margin: 8px;   
}
.bailey>p{
    color: white;
    font-weight:bolder;
    font-size:x-large;
    padding-bottom: 55px;
}

.portfolio>h4{
    margin-top: 50px;
    text-align: center;
}
.footers{
    background-image: url("./assets/backgrounds/c_image.jpg");
    background-size: cover;
    height: 450px;
    width: 100%;
}
.social-icons{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.footers{
    padding-top: 50px;
    color: white;
    text-align: center;
}
#message{
    width: 700px;
    padding-bottom: 150px;
}
.social-icons img{
    padding: 5px;
    height: 50px;
}
.forms input{
    padding: 5px;
    color: white;
    border-color:whitesmoke;
    border-style: solid;
    border-width: 0.5px;
    background-image: url(./assets/backgrounds/c_image.jpg);
    background-size: cover;  
}
#fname{
    width: 370px;
    margin-right: 20px;
}
#lname{
    width: 370px;
}
.end{
    padding-top: 8px;
    text-align: center;
    font-size: 13px;  
}
.designDescription{
    display: none;
}
.developmentDescription{
    display: none;
}
.productDescription{
    display: none;
}
.portfolioOne{
    border: 10px solid white;
    color: white;
    height: 100px;
    width: 100px;
    display: none;
    top: 177%;
    position: absolute;
    left: 28%;
 
 
}